body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
  }


.logo-navbar {
    float: left;
    width: 150px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #343434;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #220901;
    cursor: pointer;
}

.dropdown {
    overflow: hidden;
}

.dropdown:hover .dropdown-button{
    background-color: #220901;
}

.dropdown-button {
    background-color: #343434;
    border: none;
    padding: 0;
    margin: 0;

}

.dropdown-content {
    display: none;
    position: absolute; 
}

.dropdown-content a {
    background-color: #333;
    width: 220px;
}

.dropdown-icon {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.dropdown-name {
    float: right;
    padding: 10px;
    overflow: hidden;
    width: 150px;
    height: 10px;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: rgb(78, 78, 78);  
    cursor: pointer;}

.dropdown:hover .dropdown-content {
    display: block;
}
