.logo-navbar{
    width: 150px;
}

li a {
    background: #494949;
    display: block;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}


.container-fluid{
    background-color: #494949;;
}
